{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/change_password.css' %}" />
{% endblock %}

{% block content %}
    <h1>Enter your password to change your password</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.password }}
        {{ form.confirmpassword }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="{% url 'login' %}">Back to Login</a>
{% endblock %}