{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/forget_password.css' %}" />
{% endblock %}

{% block content %}
    <h2>Password Reset</h2>
    <p>Enter your Email to reset password</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.email }}
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
{% endblock %}