.content-forget {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}

h2 {
    font-size: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input#id_password {
    width: 20rem;
    height: 2.4rem;
    margin-top: 4rem;
    border: 0.1rem solid blue;
    border-radius: 5px;
}

input#id_confirmpassword {
    width: 20rem;
    height: 2.4rem;
    border: 0.1rem solid blue;
    border-radius: 5px;
    margin-top: 1rem;
}

input#id_password::placeholder, input#id_confirmpassword::placeholder {
    padding: 0.5rem;
    font-size: 1.1rem;
}

button.btn.btn-primary {
    width: 20rem;
    margin-top: 2rem;
}

a {
    margin-top: 3rem;
}