p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
    margin: 12rem auto 2rem;
    font-size: 1.2rem;
}

a {
    display: flex;
    justify-content: center;
    font-size: larger;
}