.content-forget {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
    margin-top: 3rem;
}

input#id_email {
    width: 17rem;
    height: 2.4rem;
    margin-top: 1rem;
    border: 0.1rem solid blue;
    border-radius: 5px;
}

input#id_email::placeholder {
    padding: 0.5rem;
    font-size: 1.1rem;
}

button.btn.btn-primary {
    display: block;
    width: 17rem;
    margin-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}